body {
    background: linear-gradient(#fcace8, #75c3ff);
}

.heading {
    width: 80%;
    font-size: 22px;
}

#camera {
    border: 5px solid rgb(18, 8, 102);
    width: 350px;
    height: 300px;
}

.name_of_objects,
#result_object_name,
#result_object_accuracy {
    color: rgb(0, 47, 255);
}